/* ===================== */
/* === COLOR VARIABLES === */
/* ===================== */
:root {
    /* Catppuccin Mocha color palette */
    --rosewater: #f5e0dc;
    --flamingo: #f2cdcd;
    --pink: #f5c2e7;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --maroon: #eba0ac;
    --peach: #fab387;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --teal: #94e2d5;
    --sky: #89dceb;
    --sapphire: #74c7ec;
    --blue: #89b4fa;
    --lavender: #b4befe;

/* Text colors */
    --text: #cdd6f4;
    --subtext1: #bac2de;
    --subtext0: #a6adc8;

/* Overlay colors */
    --overlay2: #9399b2;
    --overlay1: #7f849c;
    --overlay0: #6c7086;

/* Surface colors */
    --surface2: #585b70;
    --surface1: #45475a;
    --surface0: #282936;

/* Base colors */
    --base: #1e1e2e;
    --mantle: rgba(24, 24, 37, 0.5);
    --crust: rgba(17, 17, 27, 0.75);
}

/* ================= */
/* === BASE STYLES === */
/* ================= */
* {
    font-size: 12px;
    color: var(--subtext0);
    font-weight: 700;
    font-family: "JetBrainsMono NFP";
    margin: 0;
    padding: 0;
}

/* ================= */
/* === BAR LAYOUT === */
/* ================= */
.yasb-bar {
    padding: 0;
    margin: 0;
}

/* Common widget styles */
.widget {
    padding: 0 8px;
    margin: 0 2px;
}

.widget .label {
    padding: 0px 2px;
}

.widget .label.alt {
    padding: 0px 2px;
}

.icon {
    font-size: 16px;
    margin: 0 4px 0 0;
}

/* ==================== */
/* === VOLUME WIDGET === */
/* ==================== */
.volume-widget .icon {
    color: var(--blue);
    margin: 1px 2px 0 0;
}

/* Audio dropdown menu */
.audio-menu {
    background-color: var(--mantle);
}

.audio-container .device {
    font-size: 20px;
    background-color: transparent;
    border: none;
    padding: 6px 8px 6px 4px;
    margin: 2px 0;
    font-size: 12px;
    border-radius: 4px;
}

.audio-container .device.selected {
    background-color: rgba(255, 255, 255, 0.085);
}

.audio-container .device:hover {
    background-color: rgba(255, 255, 255, 0.06);
}

.audio-menu .toggle-apps {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    min-height: 24px;
    min-width: 24px;
    border-radius: 4px;
}
.audio-menu .toggle-apps.expanded {
    background-color: rgba(255, 255, 255, 0.1);
}
.audio-menu .toggle-apps:hover {
    background-color: rgba(255, 255, 255, 0.15);
    
}
/* Container for application volumes (if is enabled) */
.audio-menu .apps-container {
    padding: 8px;
    margin-top:20px;
    border-radius: 8px;
    background-color:rgba(255, 255, 255, 0.062)
}
.audio-menu .apps-container .app-volume .app-icon-container {
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    border-radius: 6px;
    margin-right: 8px;
}
.audio-menu .apps-container .app-volume .app-slider {
    min-height: 40px;
    max-height: 40px;
}
.audio-menu .apps-container .app-volume .app-icon-container:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* ====================== */
/* === KOMOREBI WORKSPACE WIDGET === */
/* ====================== */

.komorebi-workspaces {
    background-color: var(--crust);
    margin: 4px 0;
    border-radius: 12px;
    border: 0;
}

.komorebi-workspaces .ws-btn {
    font-size: 14px;
    border: none;
    color: var(--overlay0);
    padding: 0 6px;
    cursor: pointer;
}

.komorebi-workspaces .ws-btn.active
{
    color: var(--red);
    font-weight: 900;
}
.komorebi-workspaces .ws-btn.ws-btn.active_empty {
    color: var(--blue);
    font-weight: 900;
}

/* ==================== */
/* === MEMORY WIDGET === */
/* ==================== */
.memory-widget .icon {
    color: var(--mauve);
}

/* ================= */
/* === HOME WIDGET === */
/* ================= */
.home-widget {
    padding: 0 4px 0 12px;
}

.home-widget .icon {
    font-size: 18px;
    color: var(--subtext1);
}

.home-menu {
    background-color: var(--mantle);
    padding: 0;
    margin-left: 2px;
}

.home-menu .menu-item {
    padding: 8px 48px 8px 12px;
    font-weight: 600;
    color: var(--text);
}

.home-menu .menu-item:hover {
    background-color: var(--lavender);
    color: var(--surface0);
    margin: 4px 6px;
    border-radius: 4px;
}

.home-menu .separator {
    max-height: 1px;
    background-color: var(--overlay0);
    margin: 0 8px;
}

/* ================= */
/* === KOMOREBI ACTIVE LAYOUT WIDGET === */
/* ================= */

.komorebi-active-layout .label {
  color: #e5e7eb;
  font-family: "Segoe UI Fluent";
  font-size: 16px;
  font-weight: bold;
  padding-right: 10px;
  padding-left: 8px;
  border-radius: 6px;
  margin-left: 4px;
}
.komorebi-layout-menu {
  color: #e5e7eb;
  border-radius: 6px;
}
.komorebi-layout-menu .menu-item {
  padding: 4px 16px;
  font-size: 13px;
  color: #e5e7eb;
}
.komorebi-layout-menu .menu-item-icon {
  color: #e5e7eb;
  font-size: 16px;
}
.komorebi-layout-menu .menu-item-text {
  font-family: 'Arial';
  padding-left: 4px;
  font-size: 12px;
  font-weight: bold;
}
.komorebi-layout-menu .menu-item:hover {
  background-color: #58585A;
  color: #e5e7eb;
  border : 1px solid #58585A;
  border-radius: 6px;
}